html,
body {
  height: 100%;
  background-color: #222831;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container {
    margin: auto;
    width: 600px;
}

#youngMamba {
  float: left;
  margin-right: 25px;
  margin-bottom: 50px;
  border-radius: 8px;
}

#mambas {
  width: 290px;
  float: left;
  margin-right: 25px;
  border-radius: 8px;

}

h2 {
  clear: both;
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
}

p {
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

#beganTitle {
    margin-top: 60px;
}

#home {
    font-size: 25px;
    display: block;
    clear: both;
    text-align: center;
    color: gold;
    padding-top: 50px;
}
